<div class="perfil-container">
    <h2>Perfil de Usuario</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input id="nombreUsuario" formControlName="nombreUsuario" type="text">
      </div>
      <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" formControlName="nombre" type="text">
      </div>
      <div>
        <label for="email">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email">
      </div>
      <!-- Otros campos según sea necesario -->
      <button type="submit">Actualizar Perfil</button>
    </form>
  </div>