<footer class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/facebook.png" alt="Facebook">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="assets/twitter.png" alt="Twitter">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="assets/instagram.png" alt="Instagram">
      </a>
    </div>
    <p>&copy; 2023 Tienda de Ropa Deportiva. Todos los derechos reservados.</p>
  </footer>