/* Reglas comunes para el contenedor principal */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
     /* Ajusta este valor según la altura de tu header */

    overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
  }
  
  * {
    box-sizing: border-box;
  }
 
  
  